h1{
    font-family: 'Federant',cursive;
    font-size:80px;
    line-height: 1.5;
    color: #CCCCFF;
    text-shadow: 8px 8px teal;

}
h2{
    font-family:'Federant',cursive;
    color:pink;
    letter-spacing:2px;
}
h1:hover {
  
  
    width: 300px;
    height: 300px;
    transform: rotate(360deg);
    transition:width 2s, height 2s, transform 1s;
}

div{
  width: 210px;
    height: 100px;
    background-color: Gray;
    border: 8px solid #CCCCFF;
    transform: skew(5deg, 3deg);
}
h1, h2{
    height: relative;
    background: teal; /* For browsers that do not support gradients */    

    background: linear-gradient(to bottom right, teal , pink); /* Standard syntax (must be last) */
}
h3{
  font-family:'Federant',cursive;
  width:400px;
  height:240px;
  background-color:gray;
  border:8px solid #CCCCFF;
}